$text-primary-dark: #1c3eff;
$text-primary-light: #8e9efc;

$text-green-dark: #336d25;
$text-green-light: #49c22b;

$text-dark: #1e1e1e;
$text-light: #c7c7c7;

$text-danger: #f93e3e;

$grid-width: 114rem;
$gutter-vertical: 8rem;    // margin bottom giữa các row
$gutter-vertical-small: 6rem;    // margin bottom giữa các row
$gutter-horizontal: 6rem;   // giá trị khoảng cách giữa các column
